extends layout

block content
    h1.text-center= asset.name

    div(style='margin-left:20px;margin-top:20px')
        table.table
            thead.thead-dark
                tr
                    th(scope='col')
                    th(scope='col')


            tbody

                tr
                    td Asset Name
                    td #{asset.name}
                tr
                    td Type
                    td #{asset.type}
                tr
                    td Directory
                    td#directory
                tr
                    td FileType
                    td #{asset.fileType}
                tr
                    td CreateTime
                    td #{asset.createTimeFormatted}
                tr
                    td Last Update Time
                    td #{asset.lastAlterTimeFormatted}

                if (asset.project != null )
                    tr
                        td Project
                        td #{asset.project.name}
                if (asset.reference != null )
                    tr
                        td Reference
                        td #{asset.reference.name}
                if (asset.period != null )
                    tr
                        td Period
                        td #{asset.period.name}

                //shader
                if (asset.type == 'Shader')
                    if(asset.shaderType != null)
                        tr
                            td Shader Type
                            td #{asset.shaderType.name}

                //diagram
                if (asset.type == 'Diagram')
                    if(asset.diagramType != null)
                        tr
                            td Diagram Type
                            td #{asset.diagramType.name}
                    if(asset.site != null)
                        tr
                            td Site
                            td #{asset.site}
                    if(asset.originalPublication != null)
                        tr
                            td Original Publication
                            td #{asset.originalPublication.name}
                if(asset.type == 'Statue')
                    if(asset.statueType != null)
                        tr
                            td Statue Type
                            td #{asset.statueType.name}
                    if(asset.statueCulture != null)
                        tr
                            td Statue Culture
                            td #{asset.statueCulture.name}
                    if(asset.material != null)
                        tr
                            td Statue Material
                            td #{asset.material.name}
                    if(asset.pose != null)
                        tr
                            td Pose
                            td #{asset.pose}
                    if(asset.gender != null)
                        tr
                            td Gender
                            td #{asset.gender}
                    if(asset.location != null)
                        tr
                            td Location :
                            td #{asset.location}
                if(asset.type == 'Architectural Element')
                    if(asset.architecturalElementType != null)
                        tr
                            td Architectural Element Type
                            td #{asset.architecturalElementType.name}
                    if(asset.architecturalCulture != null)
                        tr
                            td Culture
                            td #{asset.architecturalCulture.name}
                    if(asset.style != null)
                        tr
                            td Style
                            td #{asset.style.name}
                if(asset.valid == false)
                    tr
                        td Deleted by :
                        td #{asset.deletedBy}
                    tr
                        td Deleted Time:
                        td #{asset.deletedTimeFormatted}
    if( asset.valid != false)
        .text-center
            - var alterhref = "/catalog/assetalter?id=" + asset.id
            - var deletehref = "/catalog/assetdelete?id=" + asset.id
            - var downloadhref = "/catalog/assetdownload?id=" + asset.id
            a(href = downloadhref class="btn btn-default btn-lg")
                span(class="glyphicon glyphicon-download-alt") Download
            a(href = alterhref class="btn btn-default btn-lg")
                span(class="glyphicon glyphicon-pencil") Alter
            a(href ='#' data-href = deletehref, class="btn btn-default btn-lg", data-toggle='modal', data-target='#confirm-delete' )
                span(class="glyphicon glyphicon-remove") Delete
            #confirm-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h2.text-center WARNING!
                        .modal-body
                            h3 If delete, the file will be completely deleted and there is no way to get it back. Are you sure to delete the asset?
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                            a.btn.btn-danger.btn-ok Delete
    script.
        $(document).ready(function () {
            getdirectory();

            //getallreference();
        });

        function getdirectory() {
            var req = new XMLHttpRequest();
            req.open("get", "/dynamic/getfullfolderdirectory?id=#{asset.fakeDirectory.id}");
            req.onreadystatechange = function () {
                if (req.readyState == 4) {
                    $('#directory').html('Root' + req.responseText);
                    //alert(req.responseText);
                }
            }
            req.send();
        }
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
