extends layout

block content
    #test
        -var action = '?id=' + asset.id
        form(method='POST' action=action )
            div.form-group
                label(for='asset_name') Asset Name:
                input#asset_name.form-control(type='text', placeholder='Input Asset Name' name='asset_name' required='true' value = asset.name )

            div.form-group.row
                label.col-sm-12(for='project_name') Project Name:
                div.col-sm-9
                    input#project_name.form-control(type='text' ,placeholder='Input Project Name', name='project_name', data-provide='typeahead', data-items='4'  value=null == asset.project ? null : asset.project.name)
                div.col-sm-3
                    button.btn.btn-default.btn-md(data-toggle='modal', data-target='#project_create' )
                        | Create new project
                // Modal
                #project_create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                    | ×
                                h4#project_create_label.modal-title.text-center
                                    | Create a new project
                            .modal-body

                                div.form-group
                                    label(for='new_project_name') name:
                                    br
                                    input#new_project_name.form-control(type='text', placeholder='New project name', name='new_project_name' )

                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal')
                                    | close
                                button.btn.btn-primary(type='botton', onclick ="project_create()") Create
            div.form-group.row
                label.col-sm-12(for='project_name') Reference:
                div.col-sm-9
                    //input#reference.form-control(type='text' ,data-provide='typeahead', data-items='4'  )
                    select#reference.form-control(type='select', placeholder='Select reference' name='reference' required='true' )
                        if(null == asset.reference)
                            option#reference_default_option(value= '-1') Please select a reference if there is one
                        else
                            option#reference_default_option(value= asset.reference.id) #{asset.reference.name}
                            option(value= '-1') No reference
                        for ref in reference_list
                            if ref.id != (null == asset.reference ? null : asset.reference.id)
                                option(value=ref.id) #{ref.name}
                div.col-sm-3
                    button.btn.btn-default.btn-md(data-toggle='modal', data-target='#reference_create' )
                        | Create new reference
                // Modal
                #reference_create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='reference_create_label', aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                    | ×
                                h4#reference_create_label.modal-title.text-center
                                    | Create a new reference
                            .modal-body

                                div.form-group
                                    label(for='new_project_name') name:
                                    input#new_reference_name.form-control(type='text', placeholder='New reference name')

                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal')
                                    | close
                                button.btn.btn-primary(type='button', onclick ="reference_create()") Create



            //Directory
            div.form-group.row
                label.col-sm-12 Directory:
                div.col-sm-1
                    button.btn.btn-default.btn-md(type='button' data-toggle='modal', data-target='#directory_selector' )
                        | choose

                    #directory_selector.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                        | ×
                                    h4#directory_selector_header.modal-title.text-center
                                        | Select a directory
                                #directory_table.modal-body
                                    table.table.table-sm.table-dark
                                        tbody#directory_tbody


                                .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal')
                                        | close
                                    button.btn.btn-primary(data-toggle='modal', data-target='#myModal', data-dismiss='modal',onclick = 'save()') Save

                div.col-sm-11
                    .input-group
                        #directoryContent.input-group-addon Please choose a folder to save the asset
                        input#directory.form-control(type='hidden', placeholder='Please choose a folder', name='directory', required = 'true', value=asset.fakeDirectory )



            button.btn.btn-secondary(type='submit') Submit